/*GLOBAL*/

.fluid-container {
    display: flex;
}

.nav {
    width: 200px;
    margin: 10px;
}

.nav .btn {
    width: 100%;
}

.tab-content {
    width: 100%;
    padding: 20px;
}

.table-title {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table thead th {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
}

table tbody tr td {
    padding: 8px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

table tbody tr td.sorting {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
}

table tbody tr.odd td {
    background: rgba(249, 249, 249, 1);
}

table tbody tr td a.add-org {
    display: block;
    font-size: 12px;
}

.popup_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(169, 169, 169, 0.5);
}

.popup_wrapper .popup {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 20px;
}

.popup_wrapper .popup .popup_title {
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
}

.popup_wrapper .popup .popup_description {
    padding: 20px;
}

.popup_wrapper .popup .popup_description div {
    margin-bottom: 10px;
}

.add_user_wrapper {
    text-align: right;
}

.add_user_wrapper .popup {
    text-align: left;
}

label {
    margin-right: 10px;
}
